.main__container {
    background-image: url('../../img/header-image.png');
    border-top: 1px solid transparent;
    text-align: center;
}

.main_text {
    font-size: 40px;
    font-family: 'Roboto Flex';
    font-weight: 700;
    line-height: 45px;
    color: white;
}

