.footer-block {
    background-color: #dc2626;
    color: white;
    padding: 30px 20px;
    width: 97.3%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-brand {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.footer-links {
    display: flex;
    gap: 30px;

}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
}

.footer-link:hover {
    opacity: 0.8;
}


.footer-ad {
    font-size: 14px;
    color: white;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-bottom: 20px;
}

.footer-social .social-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-social .social-icon:hover {
    transform: scale(1.1);
}

.footer-social .social-icon img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-copyright {
    font-size: 14px;
    color: white;
}


.footer-developer {
    display: flex;
    font-size: 14px;
    color: white;
    gap: 10px;
    align-items: center;
    
}

.footer-developer .pras-logo {
    font-weight: bold;
    color: white;
}

@media (max-width: 768px) {

    .footer-block {
        width: 96.7%;
    }

    .footer-top {
        text-align: center;
        gap: 15px;
    }
    
    .footer-links {
        gap: 50px;
    }

    .footer-link {
        font-size: 20px;
    }

    .footer-ad {
        font-size: 20px;
    }
    
    .footer-social {
        gap: 40px;
    }
    
    .footer-social .social-icon {
        width: 70px;
        height: 70px;
        margin-bottom: 45px;
    }
    
    .footer-social .social-icon img {
        width: 60px;
        height: 60px;
    }
    
    .footer-bottom {
        text-align: center;
        gap: 10px;
    }

    .footer-copyright {
        font-size: 18px;
    }

    .footer-image {
        width: 20%;
        height: 20%;
    }

    .footer-developer{
        gap: 10px;
    }

    .footer-text {
        font-size: 15px;
    }
}